
#transitionsex p {
	font-size:22px;
	color:white;
	background-color:black;
	padding-left:0px;
	-webkit-transition: all 2s ease;
	transition: all 2s ease;
}
#transitionsex p:hover {
	font-size:26px;
	color:#00ff05;
	padding-left:170px;
}
@keyframes keyframesex {
	0% { top:0; left:0;}
	25% { top:0; left: 530px;}
	50% { top: 330px; left: 530px;}
	75% { top:330px; left:0;}
	100% { top:0; left: 0;}
}
#keyframesex {
	background-color:black;
	width:50px;
	height:50px;
	position:relative;
	top:0;
	left:0;
	animation-name: keyframesex;
	animation-duration: 4s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-direction:alternate;
}
#keyframecontainer {
	position:relative;
	width: 600px;
	height:400px;
}

.step_translate b{
	animation-name: translate;
    animation-duration: 10s;
	animation-delay: 1s;
    animation-iteration-count: infinite;
	 -webkit-animation-fill-mode: both;
}

@keyframes translate{
	from{
		transform:translateY(0px);
	}
	50%{
		transform:translateY(50px);
	}
	to{
			transform:translateY(0px);
	}
}

.step_3d p{
	animation-name: dim;
    animation-duration: 10s;
	animation-delay: 1s;
    animation-iteration-count: infinite;
	 -webkit-animation-fill-mode: both;
}

@keyframes dim{
	from{
		transform:rotateX(0deg);
	}
	25%{
		transform: perspective( 600px ) rotateY( 180deg );
	}
	50%{
		transform: perspective( 200px ) rotateX( 180deg );
	}
	to{
		transform:rotateX(0deg);
	}
}

.step_rotate strong{
	animation-name: rotate;
    animation-duration: 4s;
	animation-delay: 1s;
    animation-iteration-count: infinite;
	 -webkit-animation-fill-mode: both;
}

@keyframes rotate{
	from{
		transform:rotate(0deg);
	}
	50%{
		transform:rotate(30deg);
	}
	to{
		transform:rotate(0deg);
	}
}


.step_big b{
	animation-name: big;
    animation-duration: 4s;
	animation-delay: 1s;
    animation-iteration-count: infinite;
}

@keyframes big{
	from{transform:scale(1);}
	50%{transform:scale(1.5)}
	to{transform:scale(1)}
}

.step_small b{
	animation-name: small;
    animation-duration: 4s;
	animation-delay: 1s;
    animation-iteration-count: infinite;
}

@keyframes small{
	from{transform:scale(1);}
	50%{transform:scale(0.5)}
	to{transform:scale(1)}
}


.center{
	padding-top:100px;
	text-align:center;

}
h1{
	font-size:50px;
	margin-bottom:20px;
}

h2{
	margin-bottom:20px;
}
.start i{
	line-height:150px;
	font-size:35px;
}

 ul{
	margin-bottom:50px;
	padding-left:50px;
	list-style-type:disc;
}