/* Allgemeine CSS Veränderungen */

body {
	margin: 50px;
	background: url('../img/background.jpg');
	background-size: 100%;
	background-attachment: fixed;
	font-family: Helvetica;
	font-size: 16px;
}

pre {
	font-size: 12px;
	color: #dd1166;
}

/* body Bereich der Internetseite */

.body {
	margin-top: 20px;
}

.indexpage {
	padding: 10px;
	min-height: 250px;
	background: rgba(204, 204, 204, 0.6);
	border-radius: 5px;
}

/* Tutorialbereich der Internetseite */

.tutorialfield {
	padding: 10px;
	min-height: 250px;
	background: rgba(204, 204, 204, 0.6);
	border-radius: 5px;
}

/* Beispielbereich der Internetseiten */

.examplefield {
	padding: 10px;
	min-height: 250px;
	background: rgba(204, 204, 204, 0.6);
	border-radius: 5px;
}

/* Navigationsbereich */

.navbar {
	height: 4px;
}

.navigation {
	padding: 8px;
	color: #000;
	text-align: center;
}

.navigation a {
	color: #000;
	text-decoration: none;
}

/* Typographie */

.bold {
	font-weight: bold;
}