@keyframes hand {
                0% {top: 0px;}
                25% {top: 250px;}
                50% {top: 500px;}
                75% {top: 250px;}
                100% {top: 0px;}       
}


@keyframes platte {
                0% {transform: rotate(0deg);}
                25% {transform: rotate(90deg);}
                50% {transform: rotate(180deg);}
                75% {transform: rotate(270deg);}
                100%{transform: rotate(360deg);}
}

.hand{
    animation-name: hand;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: normal;

}

.platte{
    position: relative;
    animation-name: platte;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-play-state: running;
    
    
}