/*.clearfix:after {
	display: block;
	clear: both;
	content: ".";
	height: 0;
	visibility: hidden;
}
*/
/* 1) Bitte legen Sie für alle Element die Schriftfamilie 'myriad-pro, sans-serif' fest  */
* {
	font-family: myriad-pro, sans-serif;
	padding: 0;
	margin: 0;
}

/* 2) Legen Sie als Hintgrundgrafik die Datei "hintergrund.jpg" im image-Ordner fest */
body {
	background-image: url(../images/hintergrund.jpg);
}

/* 3) Gestalten Sie alle Überschriften*/

h2 {
	font-size: 18px;
	font-weight:600;
	line-height: 110%;
	margin: 0px 0 18px 0;
}

/* 4) Richten sie "wrap"-Container und der Footer mittig mit einer Breite von 980px aus
			und passen sie die Abstände so an, dass die Elemente gut aussehen
*/
.wrap, footer {
	background: #fff;
	width: 940px;
	margin: 0 auto;
	padding: 10px 20px 10px 20px;
}

header {
	margin: 0 0 26px 0;
}

nav {
	margin: 66px 0 0 0;
	font-size: 18px;
}

section {
	width: 970px;
}

/* Definieren Sie für alle article
eine Schriftgröße von 12px
eine Breite von 220px
und einen rechten äußeren Abstand von 20px*/
article {
	font-size: 12px;
	margin: 0 20px 0 0;
	width: 210px;
	display: inline-block;
}


/* Definieren sie für den Footer
einen Rahmen 1px starken und schwarzen Rahmen an der oberen Kante
Die Schriftgröße soll 12px betragen und der obere innere Abstand 20px*/

footer {
	border-top: 1px black solid;
	font-size: 12px;
	padding-top: 20px;
}

/* AUFGABEN ADVANCED TEIL 1  */

/* 1) Ersetzen sie die inline-Block Elemente die nebeneinader sollen durch floatende Elemente  */

/* 2) Positionieren Sie Navigation und Logo nebeneinander und das Logo an den rechten Rand  */

/* 3) Positionieren Sie die Bildunterschrift des grünen Bildes auf dem Bild
			und geben ihr einen halbtransparenten Hintergrund ûber die gesamte Breite des Bildes  */

/* 4) Fügen sie hover, focus & active Effekte für die Headernavigation hinzu  */

/* 5) Für die Pros: Beim Hover über den Presselink im Footer: Zeigen sie neben dem Link die Zielurl an;  */
