
/* 1) Bitte legen Sie für alle Element die Schriftfamilie 'myriad-pro, sans-serif' fest*/

/* 2) Legen Sie als Hintgrundgrafik die Datei "hintergrund.jpg" im image-Ordner fest */


/* 3) Gestalten Sie alle Überschriften*/


/* 4) Richten sie "wrap"-Container und der Footer mittig mit einer Breite von 980px aus
			und passen sie die Abstände so an, dass die Elemente gut aussehen und/oder der Vorlage entsprechen
*/



/* 5) Positionieren sie die 'article' mit entsprechender Breite nebeneinander */

/* 6) Passen Sie weitere Größen, Abstände und Farben an die Vorlage an */
/*****/

header object {
	display: inline-block;
}

nav {
	display: inline-block;
}

nav li {
	display: inline;
	font-weight: bold;
	padding-right: 10px;
}
nav a {
	border-bottom: solid 2px #4368ab;
	color: #000;
	text-decoration: none;
	font-weight: normal;
}
.teaser {
	margin: 0 0 26px 0;
}
.teaser figcaption {
	font-size: 15px;
}
.teaser ul {
	margin: -16px 0 0 0;
}
.teaser ul li {
	display: inline;
}

article > img {
	border: #C7CBCC 5px solid;
	margin: 0 0 15px 0;
}

footer div {
	width: 149px;
}
footer ul {
	margin: 0 0 12px 0;
}
footer li {
	list-style-type: none;
}
footer a {
	text-decoration: none;
	color: #AB428F;
}
