/*kacheln für die listenelemente erstellen---
---hier wird auch größe, der abstand und die box drum herum defienert---*/
.menu li {
  cursor: pointer;
  height: 150px; width: 100%;
  margin: 10px 10px 10px 10px;
  border: 1px solid #000000;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: 4px 8px 12px rgba(0,0,0,.8);


}

/*breite für die listenanodnung*/
.menu {
  width: 90%;
  list-style: none;

}


.menu li {
  position: relative;
  float: left;
  vertical-align: middle;

  }

/*hier wird die hintergundfarbe für die kacheln erstellt*/
.menu #one{
  background-color: #2c618f;
  }

.menu #two{
  background-color: #91ab31;
}

.menu #three{
  background-color: #714a28;
}

.menu #four{
  background-color: #e58600;
}

.menu #five{
  background-color: #c33a00;
}

.menu #six{
  background-color: #7f5dac;
}

.menu #seven{
  background-color: #5672b7;
}

.menu #eight{
  background-color: #ce7c9d;
}

.menu #nine{
  background-color: #DAA520;
}
.menu #ten{
  background-color: #2e855e;
}
.menu #eleven{
  background-color: #393043;
}
.menu #twelve{
  background-color: #CD5C5C;
}
.menu #thirten{
  background-color: #A0522D;
}


/*Inhalte der kacheln gestalten-------
--Schrift muss größer als in Desktopversion sein und breite der kacheln fast die ganze breite ausfüllen*/

.menu .content{
  position: absolute;
  height: 100%; width: 100%;
  text-align: center;
  font: italic bold 1.5em  Arial, helvetica;
  color: black;
  padding-top:30px;
}

#fuss img{
	float:right;
	margin-top: 10px;
}
