<ion-view view-title="Hauptspeise" class="Hauptspeise">
    <ion-content>
        <div class="list card">

            <div class="vimg">
                <img class="full-image" src="{{hauptspeise.img}}" />
                </div>
            
            <div class="schrift">
                <h1>{{hauptspeise.name}}</h1>
            </div>

            <div class="item item-body">
                <p>{{hauptspeise.txt1}}</p>
                <p>{{hauptspeise.txt2}}</p>
                <p>{{hauptspeise.txt3}}</p>
            </div>

            </div>
    </ion-content>
</ion-view>