<ion-view view-title="Hauptspeise" class="Hauptspeise">
    <ion-content>
        <label class="item item-input">
            <i class="icon ion-search placeholder-icon "></i>
            <input type="search" placeholder="search" ng-model="searchQuery" />
        </label>
        <ion-list>
            <ion-item ng-repeat="hauptspeise in hauptspeiseList | filter:searchQuery" href="#/app/Hauptspeise/{{hauptspeise.name}}">
                {{hauptspeise.name}}
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
