<ion-view view-title="Nachspeise" class="Nachspeise">
    <ion-content>
        <div class="list card">

            <div class="vimg">
                <img class="full-image" src="{{nachspeise.img}}">
            </div>

            <div class="schrift">
                <h1>{{nachspeise.name}}</h1>
            </div>

            <div class="item item-body">
                <p>{{nachspeise.txt1}}</p>
                <p>{{nachspeise.txt2}}</p>
                <p>{{nachspeise.txt3}}</p>
            </div>

        </div>
    </ion-content>
</ion-view>