<ion-view view-title="Nachspeise" class="Nachspeise">
    <ion-content>
        <label class="item item-input">
            <i class="icon ion-search placeholder-icon "></i>
            <input type="search" placeholder="Suche" ng-model="searchQuery" />
        </label>
        <ion-list>
            <ion-item ng-repeat="nachspeise in nachspeiseList | filter:searchQuery" href="#/app/Nachspeise/{{nachspeise.name}}">
                {{nachspeise.name}}
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
