<ion-view view-title="Vorspeise" class="Vorspeise">
    <ion-content>
        <div class="list card">
            
            <div class="vimg">
                <img class="full-image" src="{{vorspeise.img}}">
                </div>

            <div class="schrift">
                <h1>{{vorspeise.name}}</h1>
            </div>

            <div class="item item-body">
                <p>{{vorspeise.txt1}}</p>
                <p>{{vorspeise.txt2}}</p>
                <p>{{vorspeise.txt3}}</p>
            </div>

        </div>
    </ion-content>
</ion-view>