<ion-view view-title="Startseite">
    <ion-content>
        <div class="list card">
            <!-- Profilbild, Name und Zuletzt Online werden ausgegeben-->
            <div class="item item-avatar">
                <img src="img/person.png">
                <h2>Hallo {{username}}!</h2>
                <p>Zuletzt online: {{zuletzt_online}}</p>
            </div>
            <!-- Übersicht über vergangene und kommende Spieltage -->
            <div class="item item-body">
                <div class="list">
                    <div class="item item-divider">
                        <div style="float:left;">
                            Vergangene Spieltage
                        </div>
                        <div style="float:right;">
                            Pkt.
                        </div>
                        <div style="clear:both"></div>
                    </div>
                    <div class="item" ng-repeat="spieltagData in vergangenespieltage">
                        <div style="float:left;">
                            Spieltag {{spieltagData.spieltag}}
                        </div>
                        <div style="float:right;">
                            {{spieltagData.value}}
                        </div>
                        <div style="clear:both"></div>
                    </div>
                </div>

                <div class="list">
                    <div class="item item-divider">
                        <div style="float:left;">
                            Kommende Spieltage
                        </div>
                        <div style="float:right;">
                            Getippt
                        </div>
                        <div style="clear:both"></div>
                    </div>
                    <div class="item" ng-repeat="spieltagData in kommendespieltage">
                        <div style="float:left;">
                            Spieltag {{spieltagData.spieltag}}
                        </div>
                        <div style="float:right;">
                            {{spieltagData.value}}/9
                        </div>
                        <div style="clear:both"></div>
                    </div>
                </div>
                
                
            </div>
        </div>
    </ion-content>
</ion-view>
